/* .CodeMirror-scroll { */
/* 	overflow-x: auto; */
/* 	overflow-y: hidden; */
/* } */
/* .CodeMirror { */
/* 	height: auto; */
/* 	width: 100%; */
/* } */

.affix-top {
	top: 100px;
}


body{
	margin-top:60px;
}
.doc {
	margin: 10px;
}
