.CodeMirror-scroll {
	overflow-x: auto;
	overflow-y: hidden;
}
.CodeMirror {
	height: auto;
}

.affix-top {
	top: 100px;
}


body{
	margin-top:40px;
}
.doc {
	margin: 10px;
}
.doc-sub{
	margin-left: 30px;
}
.doc-sub-sub{
	margin-left: 60px;
}