span.cm-sp-keyword {
	color: #92a;
}

span.cm-sp-prefixed {
	color: #f80;
}

span.cm-sp-var {
	color: #00c;
}

span.cm-sp-comment {
	color: #a70;
}

span.cm-sp-literal {
	color: #a22;
}

span.cm-sp-uri {
	color: #292;
}

span.cm-sp-operator {
	color: #088;
}

span.cm-sp-punc {
	color: #088;
}

span.cm-sp-number {
	color: #a22;
}

span.cm-sp-error {
	/* color:rgb(0,255,255); */
	/* background-color:rgb(255,0,0); */
	/* text-decoration: underline; */
	border-bottom: 2px dotted red;
}

.CodeMirror {
	line-height: 1.7em;
	border: 1px solid #d1d1d1;
/* 	height: auto; */
}


.CodeMirror-hint {
	max-width: 30em !important;
}

.CodeMirror pre {
	font-size: 14px;
}

.CodeMirror-focused .cm-matchhighlight {
	background-color: #d9d9d9
}

.cm-s-yasgui .cm-keyword {
	color: #708;
}

.cm-s-yasgui .cm-atom {
	color: #219;
}

.cm-s-yasgui .cm-number {
	color: #164;
}

.cm-s-yasgui .cm-def {
	color: #00f;
}

.cm-s-yasgui .cm-variable {
	color: black;
}

.cm-s-yasgui .cm-variable-2 {
	color: #05a;
}

.cm-s-yasgui .cm-variable-3 {
	color: #085;
}

.cm-s-yasgui .cm-property {
	color: black;
}

.cm-s-yasgui .cm-operator {
	color: black;
}

.cm-s-yasgui .cm-comment {
	color: #a50;
}

.cm-s-yasgui .cm-string {
	color: #a11;
}

.cm-s-yasgui .cm-string-2 {
	color: #f50;
}

.cm-s-yasgui .cm-meta {
	color: #555;
}

.cm-s-yasgui .cm-error {
	color: #f00;
}

.cm-s-yasgui .cm-qualifier {
	color: #555;
}

.cm-s-yasgui .cm-builtin {
	color: #30a;
}

.cm-s-yasgui .cm-bracket {
	color: #997;
}

.cm-s-yasgui .cm-tag {
	color: #170;
}

.cm-s-yasgui .cm-attribute {
	color: #00c;
}

.cm-s-yasgui .cm-header {
	color: blue;
}

.cm-s-yasgui .cm-quote {
	color: #090;
}

.cm-s-yasgui .cm-hr {
	color: #999;
}

.cm-s-yasgui .cm-link {
	color: #00c;
}

.gutterError {
	color: #f00;
	font-size: large;
	margin-left: 15px;
	margin-bottom: 3px;
}

.gutterErrorBar {
	width: 0px !important;
}

.CodeMirror-gutter {
	width: 37px;
}