.CodeMirror {
	line-height: 1.5em;
	border: 1px solid #d1d1d1;
	
}
.CodeMirror pre {
	font-size: 13px;
}

.CodeMirror-focused .cm-matchhighlight {
	background-color: #d9d9d9
}

.CodeMirror-hint {
	max-width: 30em;
}

.gutterError {
	color: #f00;
	display:inline-block;
	font-size: large;
	margin-left: 3px;
	margin-top: -1px;
}

span.cm-error {
	border-bottom: 2px dotted red;
}

.yasqe_queryButton {
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer;
	z-index: 5;
}
