//I'd prefer to put everything under the 'yasqe' class, to avoid any collissions with other CodeMirror instances which might be on this page
//but: using the yasqe instance for all these things breaks some js CodeMirror code. 
//for now: if possible, put the css under the yasqe class. Otherwise, keep it in the codemirror class
.CodeMirror {
	.gutterErrorBar {
		width: 4px;
	}
}
.yasqe {
	line-height: 1.5em;
	border: 1px solid #d1d1d1;	
	pre {
		font-size: 13px;
	}
	span.cm-error {
		border-bottom: 2px dotted red;
	}
	.CodeMirror-hint {
		max-width: 30em;
	}
}





