.yasqe {
	@import "../../node_modules/codemirror/lib/codemirror.css";
	@import "../../node_modules/codemirror/addon/display/fullscreen.css";
	@import "../../node_modules/codemirror/addon/fold/foldgutter.css";
	
	.CodeMirror {
		line-height: 1.5em;
		border: 1px solid #d1d1d1;
	}
	
	pre {
		font-size: 13px;
	}
	span.cm-error {
		border-bottom: 2px dotted red;
	}
	.gutterErrorBar {
		width: 4px;
	}
	
	.yasqe_buttons {
		position: absolute;
		top: 5px;
		right: 5px;
		z-index: 5;
	}
	.yasqe_buttons div {
		vertical-align: middle;
	}
	.yasqe_queryButton {
		display:inline-block;
		cursor: pointer;
	}
	.yasqe_share {
		cursor:pointer;
		margin-right: 5px;
	}
	.yasqe_sharePopup {
		position:absolute;
		padding: 6px;
		background-color: #f5f5f5;
		border: 1px solid #e3e3e3;
		border-radius: 4px;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
		box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
		width: 400px;
		height: auto;
	}
	.yasqe_sharePopup textarea {
		width: 100%;
	}
	.completionNotification {
		color: #999;
		background-color: #f7f7f7;
		position: absolute;
		padding: 0px 5px;
		right: 0px;
		bottom: 0px;
		font-size: 90%;
	}
	
	.yasqe_tooltip{
		display: inline;
	    position: absolute;
	    background: #333;
	    background: rgba(0,0,0,.8);
	    border-radius: 5px;
	    bottom: 26px;
	    color: #fff;
	    left: 20%;
	    padding: 5px 15px;
	    position: absolute;
/* 	    z-index: $zIndex-offset-modal; */
	    width: 220px;
	    white-space: -moz-pre-wrap !important;
	    /* Mozilla, since 1999 */
	    white-space: -pre-wrap;
	    /* Opera 4-6 */
	    white-space: -o-pre-wrap;
	    /* Opera 7 */
	    white-space: pre-wrap;
	    /* css-3 */
	    white-space: normal;
	}
}